{% extends 'layout.html.twig' %}

{% block content %}
<h4>Settings</h4>
<div class="row">
	<div class="col-md-12">
<form method="post" action="/manage/update">
<div class="row">
	<div class="col-md-4 form-group">
		<label for="network">IRC Network</label>
  		<input class="form-control" name="network" id="network" placeholder="irc.freenode.net:6667" value="{{ config.Network }}">
	</div>
	<div class="col-md-4 form-group">
		<label for="nick">IRC Nickname</label>
  		<input class="form-control" name="nick" id="nick" placeholder="mrsquishy" value="{{ config.Nick }}">
	</div>
	<div class="col-md-4 form-group">
		<label for="username">IRC Username</label>
  		<input class="form-control" name="username" id="username" placeholder="mrjones" value="{{ config.Username }}">
	</div>
</div>
<div class="row">
	<div class="col-md-4 form-group">
		<label for="owner_nick">Owner Nickname</label>
  		<input class="form-control" name="owner_nick" id="owner_nick" placeholder="" value="{{ config.OwnerNick }}">
	</div>
	<div class="col-md-4 form-group">
		<label for="owner_host">Owner Hostname</label>
  		<input class="form-control" name="owner_host" id="owner_host" placeholder="" value="{{ config.OwnerHost }}">
	</div>
</div>
<div class="row">
	<div class="col-md-4 form-group">
		<button class="btn btn-primary form-control" id="save_button">Save</button>
	</div>
</div>
</form>
	</div>
</div>
{% endblock %}
