{% extends 'layout.html.twig' %}

{% block content %}
<div class="row">
	<div class="col-sm-6">
		<h4>Script Management</h4>
	</div>
	<div class="col-sm-6">
		<a class="btn btn-default btn-sm pull-right" href="https://squircy.com/resources/js-api.html" target="_blank">Documentation <i class="fa fa-external-link"></i></a>
	</div>
</div>
{% if (scripts|length) == 0 %}
<div class="panel panel-primary">
	<div class="panel-heading"><i class="fa fa-info-circle"></i> No scripts created, yet.</div>
	<div class="panel-body">
		<p class="lead">Scripts are the building blocks used to personalize and enhance your bot.</p>
		<p>Written in JavaScript, scripts use the bot's special API to make interesting things happen.</p>
		<p>Refer to the <a href="https://squircy.com/resources/js-api.html">JavaScript API Reference</a> on the squIRCy2 website for the comprehensive list of available APIs.</p>
		<p>
			Looking for ideas? Check out the <a href="https://squircy.com/resources/examples.html" target="_blank">Example Scripts section</a> on the squIRCy2 website!
		</p>
	</div>
	<div class="panel-footer">
		<a href="/script/new" class="btn btn-primary"><i class="fa fa-plus"></i> Create New Script</a>
	</div>
</div>
{% else %}
<table class="table table-bordered table-striped">
	<tr>
		<th style="width: 175px">Title</th>
		<th>Body</th>
		<th style="width: 250px"><a href="/script/new" class="btn btn-primary"><i class="fa fa-plus"></i> New Script</a></th>
	</tr>
	{% for el in scripts %}
		<tr>
			<td>{{ el.Title }}</td>
			<td class="code-preview">{{ el.Body }}</td>
			<td>
				<a href="/script/{{ el.ID }}/edit" class="btn btn-default"><i class="fa fa-edit"></i> Edit</a>
				<div class="btn-group pull-right">
					{% if el.Enabled %}
						<a href="/script/{{ el.ID }}/toggle" class="toggle btn btn-warning">Disable</a>
					{% else %}
						<a href="/script/{{ el.ID }}/toggle" class="toggle btn btn-success">Enable</a>
					{% endif %}
					<a href="/script/{{ el.ID }}/remove" class="remove btn btn-danger">Remove</a>
				</div>

			</td>
		</tr>
	{% endfor %}
</table>
{% endif %}
{% endblock %}

{% block additional_javascripts %}
<script type="text/javascript">
$(function() {
	$('.remove').on('click', function(e) {
		e.preventDefault();
		
		if (confirm('Are you sure you want to delete this script?')) {
			var url = $(this).attr('href');
			$.ajax({
				url: url,
				type: 'post',
				success: function() {
					window.location.reload();
				}
			});
		}
	});

	$('.toggle').on('click', function(e) {
		e.preventDefault();

		var url = $(this).attr('href');
		$.ajax({
			url: url,
			type: 'post',
			success: function() {
				window.location.reload();
			}
		});
	});
});
</script>
{% endblock %}
